* {
	padding: 0;
	border: 0;
	margin: auto;
	
}

body {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://www.xgn.nl/images/articles/2019/201909/_1280x720_crop_center-center_82_line/wallpaper-pick-september-met-borderlands-3-en-it-chapter-two-154076.jpg');
	background-size: cover;
	background-position: center;
	position: center;
}
h1 {
	font-family: 'Teko', sans-serif;
	text-align: center;
	font-size: 80px;
	font-stretch: 3px;
	width: 100%;
	color: white;
	opacity: 1;
}

h2 {
	font-family: 'Oswald', sans-serif;
	color: white;
}

p {
	font-family: 'Baloo Chettan 2', cursive;
	font-size: 1.25em;
	text-align: justify;
	padding: 20px;
}

.character {
	opacity: 0.5;
}

.character:hover {
	opacity: 1;
}

.promo {
	font-family: 'Teko', sans-serif;
	font-size: 3em;
	color: #F2E9CE;
	border: 0;
	padding: 0 20px 0 20px;
}

.promo1 {
	font-family: 'Teko', sans-serif;
	font-size: 2em;
	color: #F2E9CE;
	border: 0;
	padding: 0 20px 0 20px;
	text-align: center;
}

#header {
	padding: 30px;
	background-color: rgba(121,190,217,0.5);
}

#footer {
	padding: 20px;
	background-color: rgba(121,190,217,0.5);
}


#ignore {
	font-family: 'Teko', sans-serif;
 	font-family: 'Oswald', sans-serif;
	font-family: 'Baloo Chettan 2', cursive;
}

#characters {
	border: 10px solid #3C401E;
	padding: 20px 0;
	background-color: rgba(0, 0, 0, 0.5);
}