* {
  padding: 0;
  margin: 0;
  font-family: 'Oxanium', cursive;
  
}

h1 {
	color: cornflowerblue;
	font-size: 2em;
	width: 100%;
}

.epic { 
	background-image: url('https://previews.123rf.com/images/oksancia/oksancia1307/oksancia130704342/21263924-pastel-blue-fabric-ikat-diamond-seamless-pattern-background.jpg');
	font-weight: 500;
	color: black;
}

#end {
	padding: 50px;
}

#nav {
	padding-left: 30px;
}

.profile {
	display: block;
	width: 240px;
	margin-left: auto;
	margin-right: auto;
}

.centre {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}